# Cleaning `Brand` and `Model` variables

In [53]:
import pandas as pd
import numpy as np

In [54]:
pd.options.display.max_rows = None
data.groupby(['Brand', 'Model'], observed=True).size()

Brand          Model
Ambassador     Classic          1
Audi           A3               6
               A4              90
               A6              66
               A7               3
               A8               3
               Q3              35
               Q5              38
               Q7              39
               RS5              2
               TT               3
BMW            1                3
               3              109
               5               86
               6                9
               7               17
               X1              36
               X3              17
               X5              25
               X6               8
               Z4               2
Bentley        Continental      1
               Flying           1
Chevrolet      Aveo            17
               Beat            54
               Captiva          3
               Cruze           23
               Enjoy           13
               Optra           13
               Sail            10
               Spark           15
               Tavera           3
Datsun         GO               9
               Redi             1
               redi-GO          7
Fiat           Abarth           1
               Avventura        6
               Grande           7
               Linea           15
               Petra            1
               Punto            7
               Siena            1
Force          One              3
Ford           Aspire           4
               Classic          2
               EcoSport        50
               Ecosport        67
               Endeavour       43
               Fiesta          49
               Figo           112
               Freestyle        4
               Fusion           1
               Ikon            18
               Mustang          1
Hindustan      Motors           1
Honda          Accord          35
               Amaze          127
               BR-V             5
               BRV              8
               Brio            80
               CR-V            31
               City           318
               Civic           39
               Jazz            70
               Mobilio         24
               WR-V             1
               WRV              5
Hyundai        Accent          24
               Creta          118
               EON             79
               Elantra         32
               Elite           18
               Getz            12
               Grand          179
               Santa           17
               Santro          95
               Sonata           9
               Tucson           5
               Verna          200
               Xcent           68
               i10            181
               i20            303
ISUZU          D-MAX            3
Isuzu          MU               1
               MUX              1
Jaguar         F                1
               XE               5
               XF              36
               XJ               6
Jeep           Compass         19
Lamborghini    Gallardo         1
Land           Rover           67
Mahindra       Bolero          21
               E                1
               Jeep             2
               KUV             20
               Logan            2
               NuvoSport        3
               Quanto           6
               Renault          3
               Scorpio         69
               Ssangyong       14
               TUV             12
               Thar            10
               Verito           6
               XUV300           1
               XUV500         131
               Xylo            30
Maruti         1000             1
               800             15
               A-Star          22
               Alto           183
               Baleno          75
               Celerio         66
               Ciaz            83
               Dzire           28
               Eeco            21
               Ertiga          86
               Esteem           6
               Estilo           3
               Grand            4
               Ignis           10
               Omni            23
               Ritz            78
               S                7
               S-Cross          3
               SX4             44
               Swift          418
               Versa            2
               Vitara          55
               Wagon          178
               Zen             33
Mercedes-Benz  A               12
               B               15
               C-Class          3
               CLA             15
               CLS-Class        1
               E-Class        108
               GL-Class        15
               GLA             20
               GLC              9
               GLE             14
               GLS              2
               M-Class         27
               New            110
               R-Class          4
               S               13
               S-Class          5
               SL-Class         1
               SLC              3
               SLK-Class        3
Mini           Clubman          2
               Cooper          28
               Countryman       1
Mitsubishi     Cedia            2
               Lancer           2
               Montero          1
               Outlander        2
               Pajero          29
Nissan         370Z             1
               Evalia           1
               Micra           45
               Sunny           32
               Teana            5
               Terrano         30
               X-Trail          3
OpelCorsa      1.4Gsi           1
Porsche        Boxster          1
               Cayenne          8
               Cayman           2
               Panamera         8
Renault        Captur           4
               Duster          97
               Fluence          4
               KWID            44
               Koleos           4
               Lodgy            3
               Pulse            9
               Scala            5
Skoda          Fabia           11
               Laura           36
               Octavia         33
               Rapid           58
               Superb          58
               Yeti             6
Smart          Fortwo           1
Tata           Bolt             4
               Hexa             4
               Indica          54
               Indigo          36
               Manza           19
               Nano            31
               New              9
               Nexon            3
               Safari           9
               Sumo             6
               Tiago           17
               Tigor            7
               Venture          1
               Xenon            4
               Zest            24
Toyota         Camry           15
               Corolla         83
               Etios           80
               Fortuner       118
               Innova         203
               Land             1
               Platinum         1
               Prius            1
               Qualis           5
Volkswagen     Ameo            22
               Beetle           1
               CrossPolo        5
               Jetta           28
               Passat          10
               Polo           178
               Tiguan           1
               Vento          129
Volvo          S60              9
               S80              3
               V40              5
               XC60             7
               XC90             4
dtype: int64

__Observations:__

1. Brand Ambassador is a model of Indian manufacturer Hindustan Motors.
2. Bentley Flying should be renamed to Flying Spur instead.
3. Datsun Redi should be renamed to redi-Go.
4. Ford Ecosport should be renamed to EcoSport.
5. Hindustan Motors should be renamed to Contessa.
6. Honda BRV should be renamed to BR-V.
7. Honda WRV should be renamed to WR-V.
8. Hyundai Santa should be renamed to Santa Fe.
9. Brand ISUZU should be renamed to Isuzu.
10. Brand Land should be renamed to Land Rover and find modes again.
11. Mahindra Ssangyong should be renamed to Rexton.
12. Mahindra Renault should be renamed to Logan.
13. Maruti Grand should be renamed to Grand Vitara.
14. Maruti S should be renamed to S-Cross.
15. Mercedes-Benz New should be renamed to C-Class.
16. Mercedes-Benz S should be renamed to S-Class.
17. Needs to find models for Mini.
18. Brand OpelCorsa should be renamed to Opel and model Corsa.
19. Tata New should be renamed to Safari.
20. Toyota Land should be renamed to Land Cruiser.

## Fixing data

In [127]:
# 1. Brand Ambassador is a model of Indian manufacturer Hindustan Motors.
data.loc[data['Brand'] == 'Ambassador', ['Brand', 'Model']] = ['Hindustan', 'Ambassador']
assert data.loc[data['Brand'] == 'Ambassador', ['Brand', 'Model']].shape[0] == 0

# 2. Bentley Flying should be renamed to Flying Spur instead.
data.loc[(data['Brand'] == 'Bentley') & (data['Model'] == 'Flying'), 'Model'] = 'Flying Spur'
assert data.loc[(data['Brand'] == 'Bentley') & (data['Model'] == 'Flying'), 'Model'].shape[0] == 0

# 3. Datsun Redi should be renamed to redi-GO.
data.loc[(data['Brand'] == 'Datsun') & (data['Model'] == 'Redi'), 'Model'] = 'redi-GO'
assert data.loc[(data['Brand'] == 'Datsun') & (data['Model'] == 'Redi'), 'Model'].shape[0] == 0

# 4. Ford Ecosport should be renamed to EcoSport.
data.loc[(data['Brand'] == 'Ford') & (data['Model'] == 'Ecosport'), 'Model'] = 'EcoSport'
assert data.loc[(data['Brand'] == 'Ford') & (data['Model'] == 'Ecosport'), 'Model'].shape[0] == 0

# 5. Hindustan Motors should be renamed to Contessa.
data.loc[(data['Brand'] == 'Hindustan') & (data['Model'] == 'Motors'), 'Model'] = 'Contessa'
assert data.loc[(data['Brand'] == 'Hindustan') & (data['Model'] == 'Motors'), 'Model'].shape[0] == 0

# 6. Honda BRV should be renamed to BR-V.
data.loc[(data['Brand'] == 'Honda') & (data['Model'] == 'BRV'), 'Model'] = 'BR-V'
assert data.loc[(data['Brand'] == 'Honda') & (data['Model'] == 'BRV'), 'Model'].shape[0] == 0

# 7. Honda WRV should be renamed to WR-V.
data.loc[(data['Brand'] == 'Honda') & (data['Model'] == 'WRV'), 'Model'] = 'WR-V'
assert data.loc[(data['Brand'] == 'Honda') & (data['Model'] == 'WRV'), 'Model'].shape[0] == 0

# 8. Hyundai Santa should be renamed to Santa Fe.
data.loc[(data['Brand'] == 'Hyundai') & (data['Model'] == 'Santa'), 'Model'] = 'Santa Fe'
assert data.loc[(data['Brand'] == 'Hyundai') & (data['Model'] == 'Santa'), 'Model'].shape[0] == 0

In [90]:
# 9. Brand ISUZU should be renamed to Isuzu.
# 10. Brand Land should be renamed to Land Rover and find modes again.
# 18. Brand OpelCorsa should be renamed to Opel and model Corsa.

data['Brand'] = data['Brand'].replace({'ISUZU': 'Isuzu', \
                       'Land': 'Land Rover', \
                       'OpelCorsa': 'Opel'})
assert 'ISUZU' not in data['Brand'].unique()
assert 'Land' not in data['Brand'].unique()
assert 'OpelCorsa' not in data['Brand'].unique()

In [94]:
# find Land Rover models again
land_rover = data.loc[data['Brand'] == 'Land Rover', ['Name', 'Brand', 'Model']].copy()
land_rover['Name'].unique()

array(['Land Rover Range Rover 2.2L Pure',
       'Land Rover Freelander 2 TD4 SE',
       'Land Rover Range Rover 2.2L Dynamic',
       'Land Rover Range Rover HSE Dynamic',
       'Land Rover Range Rover 2.2L Prestige',
       'Land Rover Range Rover Evoque 2.0 TD4 Pure',
       'Land Rover Freelander 2 SE', 'Land Rover Range Rover 3.0 D',
       'Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic',
       'Land Rover Range Rover TDV8 (Diesel)',
       'Land Rover Freelander 2 HSE', 'Land Rover Freelander 2 TD4 S',
       'Land Rover Discovery 4 TDV6 SE',
       'Land Rover Range Rover 3.6 TDV8 Vogue SE Diesel',
       'Land Rover Range Rover Sport 2005 2012 Sport',
       'Land Rover Range Rover Sport SE',
       'Land Rover Discovery Sport TD4 HSE 7S',
       'Land Rover Discovery HSE Luxury 3.0 TD6',
       'Land Rover Range Rover Sport 2005 2012 HSE',
       'Land Rover Discovery SE 3.0 TD6',
       'Land Rover Discovery Sport TD4 HSE',
       'Land Rover Range Rover Vogue SE 4.4 SDV8',
       'Land Rover Freelander 2 HSE SD4',
       'Land Rover Discovery Sport SD4 HSE Luxury 7S',
       'Land Rover Range Rover Sport HSE',
       'Land Rover Discovery 3 TDV6 Diesel Automatic',
       'Land Rover Range Rover 3.0 Diesel LWB Vogue',
       'Land Rover Range Rover 3.6 TDV8 Vogue SE',
       'Land Rover Discovery Sport TD4 S',
       'Land Rover Freelander 2 TD4 HSE',
       'Land Rover Discovery Sport SD4 HSE Luxury',
       'Land Rover Freelander 2 S Business Edition',
       'Land Rover Range Rover HSE', 'Land Rover Discovery 4 SDV6 SE',
       'Land Rover Discovery 4 TDV6 Auto Diesel'], dtype=object)

In [96]:
data.loc[data['Brand'] == 'Land Rover', 'Model'] = land_rover['Name'].str.split().str.get(2) + ' ' \
                                                 + land_rover['Name'].str.split().str.get(3)
data.loc[data['Brand'] == 'Land Rover', ['Name', 'Brand', 'Model']].groupby(['Model']).size()

Model
Discovery 3         1
Discovery 4         3
Discovery HSE       1
Discovery SE        1
Discovery Sport     9
Freelander 2       19
Range Rover        33
dtype: int64

It's the better to make one Discovery category.

In [99]:
data.loc[(data['Brand'] == 'Land Rover') & (data['Model'].str.contains('Discovery')), 'Model'] = 'Discovery'
data.loc[data['Brand'] == 'Land Rover', ['Name', 'Brand', 'Model']].groupby(['Model']).size()

Model
Discovery       15
Freelander 2    19
Range Rover     33
dtype: int64

In [100]:
data.loc[(data['Brand'] == 'Land Rover') & (data['Model'].str.contains('Freelander')), 'Model'] = 'Freelander'
data.loc[data['Brand'] == 'Land Rover', ['Name', 'Brand', 'Model']].groupby(['Model']).size()

Model
Discovery      15
Freelander     19
Range Rover    33
dtype: int64

In [107]:
# 11. Mahindra Ssangyong should be renamed to Rexton.
data.loc[(data['Brand'] == 'Mahindra') & (data['Model'] == 'Ssangyong'), 'Model'] = 'Rexton'
assert data.loc[(data['Brand'] == 'Mahindra') & (data['Model'] == 'Ssangyong'), 'Model'].shape[0] == 0

# 12. Mahindra Renault should be renamed to Logan.
data.loc[(data['Brand'] == 'Mahindra') & (data['Model'] == 'Renault'), 'Model'] = 'Logan'
assert data.loc[(data['Brand'] == 'Mahindra') & (data['Model'] == 'Renault'), 'Model'].shape[0] == 0

# 13. Maruti Grand should be renamed to Grand Vitara.
data.loc[(data['Brand'] == 'Maruti') & (data['Model'] == 'Grand'), 'Model'] = 'Grand Vitara'
assert data.loc[(data['Brand'] == 'Maruti') & (data['Model'] == 'Grand'), 'Model'].shape[0] == 0

# 14. Maruti S should be renamed to S-Cross.
data.loc[(data['Brand'] == 'Maruti') & (data['Model'] == 'S'), 'Model'] = 'S-Cross'
assert data.loc[(data['Brand'] == 'Maruti') & (data['Model'] == 'S'), 'Model'].shape[0] == 0

# 15. Mercedes-Benz New should be renamed to C-Class.
data.loc[(data['Brand'] == 'Mercedes-Benz') & (data['Model'] == 'New'), 'Model'] = 'C-Class'
assert data.loc[(data['Brand'] == 'Mercedes-Benz') & (data['Model'] == 'New'), 'Model'].shape[0] == 0

# 16. Mercedes-Benz S should be renamed to S-Class.
data.loc[(data['Brand'] == 'Mercedes-Benz') & (data['Model'] == 'S'), 'Model'] = 'S-Class'
assert data.loc[(data['Brand'] == 'Mercedes-Benz') & (data['Model'] == 'New'), 'Model'].shape[0] == 0

In [111]:
# 17. Needs to find models for Mini.
data.loc[data['Brand'] == 'Mini', ['Name', 'Brand', 'Model']].sort_values(by='Name')

                               Name Brand       Model
365           Mini Clubman Cooper S  Mini     Clubman
7132          Mini Clubman Cooper S  Mini     Clubman
1545           Mini Cooper 3 DOOR D  Mini      Cooper
3277           Mini Cooper 3 DOOR D  Mini      Cooper
6482           Mini Cooper 3 DOOR D  Mini      Cooper
6779           Mini Cooper 3 DOOR D  Mini      Cooper
3194           Mini Cooper 3 DOOR D  Mini      Cooper
5518           Mini Cooper 3 DOOR S  Mini      Cooper
2370           Mini Cooper 3 DOOR S  Mini      Cooper
746            Mini Cooper 5 DOOR D  Mini      Cooper
1117           Mini Cooper 5 DOOR D  Mini      Cooper
3161           Mini Cooper 5 DOOR D  Mini      Cooper
2073           Mini Cooper 5 DOOR D  Mini      Cooper
632            Mini Cooper 5 DOOR D  Mini      Cooper
391     Mini Cooper Convertible 1.6  Mini      Cooper
427       Mini Cooper Convertible S  Mini      Cooper
2364      Mini Cooper Convertible S  Mini      Cooper
2604      Mini Cooper Convertible S  Mini      Cooper
2711      Mini Cooper Convertible S  Mini      Cooper
228       Mini Cooper Convertible S  Mini      Cooper
4742       Mini Cooper Countryman D  Mini      Cooper
7160       Mini Cooper Countryman D  Mini      Cooper
1476       Mini Cooper Countryman D  Mini      Cooper
2270  Mini Cooper Countryman D High  Mini      Cooper
1847  Mini Cooper Countryman D High  Mini      Cooper
6252                  Mini Cooper S  Mini      Cooper
718                   Mini Cooper S  Mini      Cooper
5296   Mini Cooper S Carbon Edition  Mini      Cooper
5397   Mini Cooper S Carbon Edition  Mini      Cooper
3017   Mini Cooper S Carbon Edition  Mini      Cooper
176        Mini Countryman Cooper D  Mini  Countryman

In [116]:
data.loc[data['Brand'] == 'Mini', 'Model'] = \
    data.loc[data['Brand'] == 'Mini', 'Name'].str.split().str.get(1) + ' ' + \
    data.loc[data['Brand'] == 'Mini', 'Name'].str.split().str.get(2)

In [120]:
data.loc[data['Brand'] == 'Mini', ['Name', 'Brand', 'Model']].groupby(['Model']).size()

Model
Clubman Cooper        2
Cooper 3              7
Cooper 5              5
Cooper Convertible    6
Cooper Countryman     5
Cooper S              5
Countryman Cooper     1
dtype: int64

In [123]:
data.loc[(data['Brand'] == 'Mini') & (data['Model'] == 'Clubman Cooper'), 'Model'] = 'Cooper Clubman'
data.loc[(data['Brand'] == 'Mini') & (data['Model'] == 'Countryman Cooper'), 'Model'] = 'Cooper Countryman'

In [125]:
data.loc[data['Brand'] == 'Mini', ['Name', 'Brand', 'Model']].groupby(['Model']).size()

Model
Cooper 3              7
Cooper 5              5
Cooper Clubman        2
Cooper Convertible    6
Cooper Countryman     6
Cooper S              5
dtype: int64

In [109]:
# 19. Tata New should be renamed to Safari.
data.loc[(data['Brand'] == 'Tata') & (data['Model'] == 'New'), 'Model'] = 'Safari'
assert data.loc[(data['Brand'] == 'Tata') & (data['Model'] == 'New'), 'Model'].shape[0] == 0

# 20. Toyota Land should be renamed to Land Cruiser.
data.loc[(data['Brand'] == 'Toyota') & (data['Model'] == 'Land'), 'Model'] = 'Land Cruiser'
assert data.loc[(data['Brand'] == 'Toyota') & (data['Model'] == 'Land'), 'Model'].shape[0] == 0

In [130]:
data.groupby(['Brand', 'Model'], observed=True).size()

Brand          Model
Audi           A3                      6
               A4                     90
               A6                     66
               A7                      3
               A8                      3
               Q3                     35
               Q5                     38
               Q7                     39
               RS5                     2
               TT                      3
BMW            1                       3
               3                     109
               5                      86
               6                       9
               7                      17
               X1                     36
               X3                     17
               X5                     25
               X6                      8
               Z4                      2
Bentley        Continental             1
               Flying Spur             1
Chevrolet      Aveo                   17
               Beat                   54
               Captiva                 3
               Cruze                  23
               Enjoy                  13
               Optra                  13
               Sail                   10
               Spark                  15
               Tavera                  3
Datsun         GO                      9
               redi-GO                 8
Fiat           Abarth                  1
               Avventura               6
               Grande                  7
               Linea                  15
               Petra                   1
               Punto                   7
               Siena                   1
Force          One                     3
Ford           Aspire                  4
               Classic                 2
               EcoSport              117
               Endeavour              43
               Fiesta                 49
               Figo                  112
               Freestyle               4
               Fusion                  1
               Ikon                   18
               Mustang                 1
Hindustan      Ambassador              1
               Contessa                1
Honda          Accord                 35
               Amaze                 127
               BR-V                   13
               Brio                   80
               CR-V                   31
               City                  318
               Civic                  39
               Jazz                   70
               Mobilio                24
               WR-V                    6
Hyundai        Accent                 24
               Creta                 118
               EON                    79
               Elantra                32
               Elite                  18
               Getz                   12
               Grand                 179
               Santa                  17
               Santro                 95
               Sonata                  9
               Tucson                  5
               Verna                 200
               Xcent                  68
               i10                   181
               i20                   303
Isuzu          D-MAX                   3
               MU                      1
               MUX                     1
Jaguar         F                       1
               XE                      5
               XF                     36
               XJ                      6
Jeep           Compass                19
Lamborghini    Gallardo                1
Land Rover     Discovery              15
               Freelander             19
               Range Rover            33
Mahindra       Bolero                 21
               E                       1
               Jeep                    2
               KUV                    20
               Logan                   5
               NuvoSport               3
               Quanto                  6
               Rexton                 14
               Scorpio                69
               TUV                    12
               Thar                   10
               Verito                  6
               XUV300                  1
               XUV500                131
               Xylo                   30
Maruti         1000                    1
               800                    15
               A-Star                 22
               Alto                  183
               Baleno                 75
               Celerio                66
               Ciaz                   83
               Dzire                  28
               Eeco                   21
               Ertiga                 86
               Esteem                  6
               Estilo                  3
               Grand Vitara            4
               Ignis                  10
               Omni                   23
               Ritz                   78
               S-Cross                10
               SX4                    44
               Swift                 418
               Versa                   2
               Vitara                 55
               Wagon                 178
               Zen                    33
Mercedes-Benz  A                      12
               B                      15
               C-Class               113
               CLA                    15
               CLS-Class               1
               E-Class               108
               GL-Class               15
               GLA                    20
               GLC                     9
               GLE                    14
               GLS                     2
               M-Class                27
               R-Class                 4
               S-Class                18
               SL-Class                1
               SLC                     3
               SLK-Class               3
Mini           Cooper 3                7
               Cooper 5                5
               Cooper Clubman          2
               Cooper Convertible      6
               Cooper Countryman       6
               Cooper S                5
Mitsubishi     Cedia                   2
               Lancer                  2
               Montero                 1
               Outlander               2
               Pajero                 29
Nissan         370Z                    1
               Evalia                  1
               Micra                  45
               Sunny                  32
               Teana                   5
               Terrano                30
               X-Trail                 3
Opel           1.4Gsi                  1
Porsche        Boxster                 1
               Cayenne                 8
               Cayman                  2
               Panamera                8
Renault        Captur                  4
               Duster                 97
               Fluence                 4
               KWID                   44
               Koleos                  4
               Lodgy                   3
               Pulse                   9
               Scala                   5
Skoda          Fabia                  11
               Laura                  36
               Octavia                33
               Rapid                  58
               Superb                 58
               Yeti                    6
Smart          Fortwo                  1
Tata           Bolt                    4
               Hexa                    4
               Indica                 54
               Indigo                 36
               Manza                  19
               Nano                   31
               Nexon                   3
               Safari                 18
               Sumo                    6
               Tiago                  17
               Tigor                   7
               Venture                 1
               Xenon                   4
               Zest                   24
Toyota         Camry                  15
               Corolla                83
               Etios                  80
               Fortuner              118
               Innova                203
               Land Cruiser            1
               Platinum                1
               Prius                   1
               Qualis                  5
Volkswagen     Ameo                   22
               Beetle                  1
               CrossPolo               5
               Jetta                  28
               Passat                 10
               Polo                  178
               Tiguan                  1
               Vento                 129
Volvo          S60                     9
               S80                     3
               V40                     5
               XC60                    7
               XC90                    4
dtype: int64